In [1]:
import pandas as pd

In [3]:
# Ekstrak data dari csv
data_survey = pd.read_csv('survey.csv')
data_survey

,name,age,favorite_front_end,favorite_back_end,salary_per_year_in_USD,company_type
0,John Doe,19,JavaScript,Node.js,26000 - 40000,software house
1,Jane Smith,31-40,React,Java,more than 60000,fintech
2,Alice Johnson,17-20,HTML/CSS,Python,10000 - 25000,freelance
3,Bob Williams,26-30,Angular,PHP,41000 - 60000,software house
4,Emily Davis,21-25,-,C#,10000 - 25000,edutech
...,...,...,...,...,...,...
74,Liam Harris,31-40,HTML/CSS,PHP,more than 60000,software house
75,Olivia Robinson,17-20,React,Node.js,26000 - 40000,freelance
76,Noah Rodriguez,21-25,Vue.js,Python,41000 - 60000,software house
77,Emma Lee,26-30,-,Java,10000 - 25000,government
78,Aiden Martinez,31-40,Angular,C#,more than 60000,fintech

In [6]:
# Transformasi
# Membersihkan data dari duplikat
duplicate_rows = data_survey[data_survey.duplicated()]
data_survey = data_survey.drop_duplicates()
duplicate_rows

Empty DataFrame
Columns: [name, age, favorite_front_end, favorite_back_end, salary_per_year_in_USD, company_type]
Index: []

In [5]:
# Membersihkan data dari baris yang memiliki nilai kosong
data_survey = data_survey.dropna()

In [7]:
data_survey.to_csv('C:/Users/ASUS/de_zahra-putri/17_Data Engineering in The Cloud/Praktikum/data_survey_cleaned.csv')